.container {
    max-width: 400px;
    margin: 0;
    display: flex;
    margin-bottom: 10px;
    background-color: blueviolet;
}

.item {
    background-color: orange;
    margin: 5px;
    text-align: center;
    color: aliceblue;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid aliceblue;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.column {
    flex-direction: column;
    min-height: 300px;
    max-width: 62px;
}