.container {
    display: flex;
    background-color: blueviolet;
    max-width: 300px;
    height: 200px;
    flex-wrap: wrap;
    
}

.item {
    background-color: orange;
    margin: 5px;
    padding: 5px;
    font-size: 24px;
    border: 1px solid aliceblue;
    text-align: center;
    color: aliceblue;
}

.end {
    align-self: flex-end;
}

.center {
    align-self: center;
}

.start {
    align-self: flex-start;
}

.baseline {
    align-self: baseline;
}

.stretch {
    align-self: stretch;
}

.auto {
    align-self: auto;
}