.container {
    display: flex;
    max-width: 400px;
    min-height: 100px;
    background-color: blueviolet;
}

.item {
    background-color: orange;
    margin: 5px;
    min-width: 50px;
    text-align: center;
    color: aliceblue;
    line-height: 50px;
    border: 1px solid aliceblue;
    flex: 1;
}

.column {
    flex-direction: column;
}
.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.center {
    align-items: center;
}

.stretch {
    align-items: stretch;
}

.baseline {
    align-items: baseline;
}

.central {
    height: 300px;
    justify-content: center;
}

.central .item {
    flex: 0;
    padding: 20px;
}