.container {
    display: flex;
    background-color: blueviolet;
    max-width: 300px;
    margin-bottom: 5px;
}

.item {
    background-color: orange;
    margin: 5px;
    padding: 5px;
    font-size: 24px;
    border: 1px solid aliceblue;
    text-align: center;
    color: aliceblue;
}

.fs-0 {
    flex-shrink: 0;
    flex-basis: 50px;
}

.fs-1 {
    flex-shrink: 1;
}

.fs-2 {
    flex-shrink: 2;
    flex-basis: 50px;
}

.fs-3 {
    flex-shrink: 3;
    flex-basis: 50px;
}

.fg-1 {
    flex-grow: 1;
}